<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>135155143671-kkt7p04ofoikdgap1hrcj0934mdt6i4h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.135155143671-kkt7p04ofoikdgap1hrcj0934mdt6i4h</string>
	<key>API_KEY</key>
	<string>AIzaSyCZBE2_pgfVKv3vdIWtxzFzWbN1bG0DSPg</string>
	<key>GCM_SENDER_ID</key>
	<string>135155143671</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterShoppingMall</string>
	<key>PROJECT_ID</key>
	<string>flutter-shopping-mall</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-shopping-mall.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:135155143671:ios:cacfc772eb85f562c8d4f2</string>
</dict>
</plist>